<nav class="navbar bg-secondary">
    <div class="container-fluid">
            <span>
                <img src="/image/batman.png" width="30" class="d-inline-block" alt="">
            <a class="navbar-brand" href="/diario/listar">
                BatCaverna
            </a>
            </span>
        <a href="/user/login" class="btn btn-outline-dark"><i class="fa-solid fa-key"></i> Login</a>
    </div>
</nav>