<div class="card">
    <div class="card-body">
        <h5>Cadastro de Usuário</h5>
        <form method="post" action="">
            <label for="username">SIAPE</label>
            <input type="text" name="username" id="username" class="form-control">
            <label>SENHA</label>
            <input type="password" name="password" id="password" class="form-control">
            <button type="submit" class="btn btn-success mt-4">Cadastrar</button>
        </form>
    </div>
</div>