<div class="card col-md-4 mx-auto">
    <div class="card-body">
        <div>
            <img src="/image/batman.png" class="w-25 d-block mx-auto mb-3">
        </div>
        <h4 class="text-center mb-5">Acesso ao Sistema</h4>
        <form action="/user/login" method="post">
        <label>SIAPE</label>
        <input type="text" name="username" id="username" class="form-control">
        <label>SENHA</label>
        <input type="password" name="password" id="password" class="form-control">

        <button type="submit" class="btn btn-success mt-4 w-100">ENTRAR</button>
        </form>
        <a href="" class="btn btn-outline-secondary w-100 mt-2">Voltar</a>
    </div>
</div>